@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    margin: 0;
    font-family: Lora,sans-serif;
    scroll-behavior: smooth;

}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
#main{
    background-image: url(img/raindrop.jpg);
  
}
#about{
    background-image: url(img/background1.jpg);
    
}
#skills{
    background-image: url(img/background2.jpg);
}
#works{
    background-image: url(img/background3.jpg);
}
#comments{
    background-image: url(img/background4.jpg);
}

.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100vh;
}
.main-title{
    padding-top: 67px;
    color: black;
    font-size: 80px;
    animation-name: textanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}
.main-content{
    width: 849px;
    height: 223px;
    background-color: whitesmoke;
    padding-left: 30px;
    border: 2px solid darkcyan;
   
}
.main-subtitle{
   color: grey;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   animation-name: moveanimation;
   animation-duration: 6s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.button{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #bbff2c;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
}
.button:hover{
    background-color: darkolivegreen;
}
@keyframes textanimation{
    from{
        color: #000;
    }
    to{
        color: darkblue;
    }
}
@keyframes moveanimation{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(70px);
    }
}
.title{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 5px black;
}
.about-content{
    width: 35%;
    height: 400px;
    border-radius: 0px 0px 0px 20px;
    background-color: white;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    display: flex;
}
.about-title{
    color: black;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgreen;
    padding: 10px;
}
.about-card{
    background-color: darkcyan;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.about-card p{
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-card img{
    padding-bottom: 20px;
}
.skills-card{
    background-color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}
.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.star{
    background: url(img/star.png);
   
    width: 208px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    left: 0;
    animation-name: movestar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
   background-size: cover;
}
@keyframes movestar{
    from{
      transform: translateY(0);
     
}
    to{
        transform: translateY(100px);
        
    }
   
}
.works-block img{
    margin: 0 20px;
    width: 27%;
    box-shadow: 7px 7px 0 #000000;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}
.nav-link{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 3px solid #000;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition-duration: 0.3s;

}
.logo{
    color: #bbff2c;
    font-size: 80px;
    padding-left: 50px;
}
.nav-link:hover{
    background-color: darkseagreen;
}
.active{
    background-color: coral;
    
}
.mobile-button{
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}
.hide{
    display:none;
}
.mobile-menu{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: purple;
    min-height: 100vh;
}
.mobile-nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-nav-links{
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
}
@media (max-width:1000px) {
    .mobile-button{
        display: block;
    }
    .nav-links {
        display: none;
    }
    .logo{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .main-content{
        max-width: 320px;
    }
    .main-title{
        padding-top: 30px;
        font-size: 30px;
    }
    .main-subtitle{
        font-size: 15px
    }
    .title{
        font-size: 50px;
        padding-top: 30px;
    }
    .about-block{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }
    .about-card{
        order: -1;
        background-size: contain;
        padding-top: 20px;
        width: 326px;
        height: 296px;
    }
    .about-card img{
        width: 85%;
    }
    .about-content{
        width: 75%;
        height: 250px;
        margin-bottom: 20px;
    }
    .about-title{
        font-size: 18px;
    }
    .skills-card{
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }
    .skills-card p{
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }
    .skills-section{
        min-height: 60vh;
    }
    .skills-card .button{
        position: absolute;
        bottom: 100px;

    }
    .works-block{
        flex-direction: column;
        padding: 20px 0;

    }
    .works-block img{
        margin: 20px 0;
        width: 80%;
    }
    .comment-block{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;

    }
    .comment{
        background-image:
        url(#)
    }
    .comment p{
        font-size: 15px;
        max-width: 290px;
    }
    footer{
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      

    }
    .footer-info{
        text-align: center;
    }

}
.information{
    color: whitesmoke;
}
.contacts{
    background-color: cornsilk;
    color: black;
    height: 300px;
    text-align: center;
}
.contacts h1{
    font-size: 30px;
}

