.color{
    height: 300px;
    justify-content: center;
    font-size: 20px;
    background-color: green;
    padding: 100px;
    animation-name: change-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: black;
}
@keyframes change-color{
    from{
        background-color: green;
        color:black;
    }
    to{
        background-color: red;
        color: white;
    }
    
}
